@import "tailwindcss";

@theme{
  --color-brandblue: #08BBE1;
  --color-brandgrey: #D9D9D9;
  --color-blue: #31B1CC;
  
    --color-primary: #31B1CC; 
    --color-secondary: #269AB3;
    --color-gray: #E0E0E0;
    --color-background: #F5F6FA; 
    --color-borderGray: #D1D5DB;

  --font-pacifico: "Pacifico", serif;
  --font-pangolin: "Pangolin", cursive;
  --font-roboto: "Roboto", sans-serif;
  --font-calistoga: "Calistoga", cursive;
  --font-playfair: "Playfair", serif;
  --font-poppins: "Poppins", sans-serif;
}
@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    @apply px-0 ;

    @screen {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
  .nav {
    @apply relative flex justify-center items-center text-black hover:text-[#1887a0e3] tracking-[1px];
  }

  .nav::after {
    @apply md:content-[''] md:bg-brandblue md:h-[3px] md:w-[0%] md:left-0 md:-bottom-[5px] 
            md:rounded-xl md:absolute md:duration-300;
  }

  .nav:hover::after,
  .nav.active::after {
    @apply md:w-[100%];
  }

  .nav.active {
    @apply text-[#1887a0e3]; 
  }
    .grid-card {
    @apply bg-blue-500 aspect-[4/3] rounded-lg 
            md:aspect-[3/4] xl:aspect-[4/3] overflow-hidden relative hover:scale-95 transition-all duration-500;
  }
  .grid-card-img {
    @apply w-full h-full bg-cover bg-center absolute group-hover:scale-125 group-hover:rotate-6 transition-all duration-500;
  }
  .bg-custom {
    background-image: url("/public/image/Subtract.png");
    background-size: cover;
    background-position: center;
  }
  .bg-promo {
    background-image: url("/public/image/bg.png");
    background-size: cover;
    background-position: center;
  }
  .btn {
    @apply px-4 py-2 border rounded-sm bg-gray-300 text-black text-sm;
  }
  .btnColor {
    @apply px-4 py-2 w-[65px] border rounded-sm bg-gray-300 text-black text-sm;
  }

  .btn-selected {
    @apply bg-brandblue rounded-sm text-white font-bold;
  }
  .slick-prev:before,
  .slick-next:before {
    content: '';
  }
  .input-field {
  @apply w-full p-2 mb-2 border bg-white border-primary focus:border-primary focus:outline-none rounded-md ;
}
.file-input {
  @apply w-full p-2 mb-2 border rounded-md text-black bg-white border-primary file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-black hover:file:bg-primary/80;
}
.btn-cancel {
  @apply bg-black text-white p-2 rounded-md;
}
.btn-submit {
  @apply bg-black text-white p-2 rounded-md;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             
}
